body {
  text-align: center;
  background-image: url("./images/background.jpg");
}

input {
  margin: 5px;
}

#clock_base {
  border: 5px solid black;
}
.blueBox > img {
  border: 10px solid rgb(160, 76, 12);
  margin: 15px;
}
ul > img {
  border: 5px solid royalblue;
}
.blueBox {
  border: 2px dotted blue;
  width: 690px;
  margin: 0 auto;
  padding: 15px;
}

.redBox {
  border: 2px solid red;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
}

.exciting:hover {
  font-size: 500%;
  color: red;
}

.second {
  animation: clock 60s linear infinite;
  position: relative;
  right: 225px;
  bottom: 74px;
}

@keyframes clock {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes club_lights {
  0% {
    font-size: 100%;
  }
  100% {
    font-size: 1000%;
  }
}

.hour {
  width: 50px;
  height: 50px;
  font-size: 200%;
  color: red;
  position: relative;
}

#h_12 {
  left: 113px;
  bottom: 250px;
}

#h_3 {
  bottom: 215px;
  left: 200px;
}

#h_6 {
  left: 113px;
  bottom: 180px;
}

#h_9 {
  left: 30px;
  bottom: 315px;
}

footer {
  background-color: rgb(190, 182, 182);
  height: 200px;
  margin-top: 25px;
}

footer a {
  color: rgb(255, 242, 127);
  text-decoration: none;
}

footer div {
  font-size: 30px;
  padding: 20px;
  border: 3px solid black;
  margin: 5px;
  width: fit-content;
  display: inline-block;
}

/*  */
.right_section {
  float: right;
  position: relative;
  border: 5px dotted black;
  width: fit-content;
}

header {
  position: fixed;
}

.right_section div {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.right_section b {
  border: 3px solid gray;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  padding: 10px;
  background-color: aliceblue;
  text-align: center;
  left: 50%;
  top: 50%;
}

.right_section a {
  color: black;
  text-decoration: none;
}
